@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
    color:#fff
}

#nav{
    height: 70px;
    width: 100%;
    padding: 0 30px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav2{
    display: flex;
    gap:25px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: purple;
}

#nav2 h4:nth-child(1){
    border-bottom: 1.1px solid #fff;
}

.page1>h1{
    font-size: 8vw;
    font-weight: 300;
    margin-top: 10vh;
    margin-left: 10vw;
}

.page1>h2{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 26vw;
}

.page1>video{
    width: 60%;
    margin-right: 20%;
    margin-top: 10vh;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 150vh;
    width: 100;
    color: black;
    padding: 10vw 5vw;
}

.page2 h1{
    font-size: 7.5vw;
    font-weight: 300;
}

.page2-container{
    padding-top: 10vw;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
}

.page2-left{
    width: 80%;
    font-size: 2.5vw;
}
.page2-left h2{
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.page2-right{
    width: 25%;
    padding-right: 3vw;
    padding-top: 1vh;
    align-items: center;
    
}

.page2-right p{
    font-size: 18px;
    font-weight: 450;
    line-height: 1.9vw;

}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color:black;
    margin-top: 20px;

}