@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color:#fff
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
}

#nav{
    height: 70px;
    width: 100%;
    padding: 0 30px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav2{
    display: flex;
    gap:25px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: purple;
}

#nav2 h4:nth-child(1){
    border-bottom: 1.1px solid #fff;
}

.page1>h1{
    font-size: 8vw;
    font-weight: 300;
    margin-top: 10vh;
    margin-left: 10vw;
}

.page1>h2{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 26vw;
}

.page1>video{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10vh;
}